/*
 * Content Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Style
//
//## A group of styles

.main-image {
  margin-top: 120px;
  //float: right;
  //width: 1000px;
  height: 635px;
  border: 1px solid black;
}

.sub-content {
  margin: 180px auto;
  border: 1px solid black;
}

.spacer-big {
  width: 100%;
  margin-top: 40%;
  border: 1px solid blue;
}

.image {

  height: 300px;
  border: 1px solid red;
}