/*
 * ProjectDetail Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Detail
//
//## For project detail pages

#detail {
  //transition: opacity 0.5s ease-in-out;
  overflow: visible;
}

// Floating project ID
#detail #p-id {
  span {
    font-family: $font-inconsolata;
    position: fixed;
    top: 15px;
    margin-top: 22px;
    padding: 10px 12px;
    background-color: $brand-primary;
    color: white;
    z-index: 10;
  }
  span#p-name {
    transition: opacity 0.5s ease-in;
    opacity: 0;
    font-weight: $fw-inconsolata-bold;
    margin-left: 40px;
    background-color: transparent;
    color: $brand-primary;
    text-transform: uppercase;
  }
}

//** For the BRIEF section.
#brief {
  height: 100vh;
  .p-desc {
    float: left;
    width: 45%;
    background-color: rgba(red, 0.15);
  }
  .image-container {
    float: left;
    clear: both;
    background-color: rgba(blue, 0.15);
  }
  h1.p-title {
    font-weight: $fw-black;
    font-size: 64px;
    margin-top: 172px;
  }
  span.p-tags {
    font-family: $font-inconsolata;
    font-weight: $fw-inconsolata-bold;
    font-size: 20px;
    color: $brand-gray;
    text-transform: capitalize;
  }
  p.p-content {
    margin: 10px 0 0;
    font-size: 20px;
    color: $brand-gray;
    a {
      font-weight: $fw-medium;
      color: $brand-gray;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $brand-primary;
      }
    }
  }

  #project-links {
    list-style: none;
    padding: 0;
    margin-top: 5%;
    li a {
      transition: all 0.2s ease-in-out;
      font-size: $font-size-medium;
      font-weight: $fw-bold;
      color: $brand-primary;
      &:hover {
        color: $brand-gray;
      }
    }
  }

  img.p-image {
    margin: 172px 0 0 30px;
    max-width: 50%;
    max-height: 635px;
    color: $brand-gray;
    border: 1px solid black;
  }

  button#scroll-arrow {
    &.stopAnimation {
      transition: none !important;
    }
    padding: 5px;
    transition: all 0.55s ease-in-out;
    position: fixed;
    left: 50%;
    cursor: pointer;
    img {
      width: 20px;
      transition: transform 0.6s ease-in-out;
    }
    &.top {
      bottom: 95%;
      img {
        transform: rotate(-180deg);
      }
    }
    &.bottom {
      bottom: 5%;
    }
    span {
      margin-right: 8px;
    }
  }
}


//** For the GALLERY section.
#gallery {
  height: 100vh;
  padding-top: 19vh;
  width: 12000px;
  img {
    vertical-align: top;
    display: inline-block;
    margin: 0 35px 35px 0;
    //background-color: #f3f3f3;
    border: 1px solid $brand-primary;

    &.xs{
      max-height: 22vh;
    }

    &.sm{
      max-height: 30vh;
    }
    &.sm.sm-width{
      max-height: none;
      max-width: 35vw;
    }
    &.md{
      max-height: 50vh;
    }
    &.md.md-width{
      max-height: none;
      max-width: 45vw;
    }
    &.lg{
      max-height: 65vh;
    }
    &.two-up {
      float: left;
      max-width: none !important;
    }
  }
  .col {
    vertical-align: top;
    display: inline-block;
    margin: 0 35px 0 0;
    img {
      max-width: 100%;
      vertical-align: baseline;
      display: block;
      margin: 0 0 35px 0;
    }
    p {
      padding: 0;
      margin: 0 0 35px 0;
      color: $brand-gray;
      max-width: 100%;
      a {
        font-weight: $fw-medium;
        color: $brand-primary;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $brand-gray-light;
        }
      }
    }
    p.stacked.controlWidth {
      max-width: 35vw;
    }

    p.label {
      position: absolute;
      padding: 0;
      margin-top: -30px;
      margin-bottom: 0;
      font-family: $font-family-monospace;
      font-size: $font-size-exsmall;
      color: $brand-gray-light;
      width: inherit;
      max-width: 100% !important;
      z-index: -1;
    }
    p.stacked {
      margin-top: -16px !important;
      margin-bottom: 16px !important;
      &.withLabel {
        margin-top: 0 !important;
      }
    }
  }

  .gallery-marker {
    &:before {
      position: absolute;
      content: "\a0";
      margin-top: 0px;
      margin-left: -7px;
      padding: 12px 2px;
      background-color: $brand-primary;
      line-height: 1px;
    }
  }
}

#gallery-nav {
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  margin-top: 115px;
  margin-bottom: 40px;
  font-size: $font-size-medium;
  font-weight: $fw-medium;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 5px;
      margin-right: 20px;
      a {
        transition: color 0.2s ease-in;
        color: $brand-gray-lighter;
        &:hover {
          color: $brand-gray;
        }
      }
      a.active {
        color: $brand-primary;
      }
      &:first-of-type {
        padding-left: 6px;
      }
    }
  }
}