/*
 * ProjectDetail Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Detail
//
//## For project detail pages

#detail {
  overflow: visible;
  &.hidescroll {
    //overflow: auto;
  }
  &.showscroll {
    overflow: visible;
  }
}

// Floating project ID
#p-id {
  span {
    font-family: $font-inconsolata;
    position: fixed;
    top: 15px;
    margin-top: 22px;
    padding: 10px 12px;
    background-color: $brand-primary;
    color: white;
    z-index: 10;
  }
  span#p-name {
    transition: opacity 0.2s ease-in;
    opacity: 0;
    font-weight: $fw-inconsolata-bold;
    margin-left: 40px;
    background-color: transparent;
    color: $brand-primary;
    text-transform: uppercase;
  }
}

#brief {
  height: 100vh;
  .p-desc {
    float: left;
    width: 45%;
  }
  h1.p-title {
    font-weight: $fw-black;
    font-size: 64px;
    margin-top: 172px;
  }
  span.p-tags {
    font-family: $font-inconsolata;
    font-weight: $fw-inconsolata-bold;
    font-size: 20px;
    color: $brand-gray;
    text-transform: capitalize;
  }
  p.p-content {
    margin: 10px 0 0;
    font-size: 20px;
    color: $brand-gray;
  }

  img.p-image {
    margin: 172px 0 0 30px;
    width: 50%;
    max-height: 635px;
    color: $brand-gray;
    border: 1px solid black;
  }

  a#scroll-arrow {
    transition: all 0.55s ease-in-out;
    position: fixed;
    left: 50%;
    cursor: pointer;
    &.top {
      bottom: 95%;
    }
    &.bottom {
      bottom: 5%;
    }
  }
}

.yeah {
  display: inline-block;
}

#gallery {
  height: 100vh;
  background-color: #f3f3f3;
  width: 6000px;
}

.image {
  height: auto;
  //min-height: 300px;
  max-width: 100%;
  padding: 0;
  background-color: lightgray;
  border: 1px solid black;
}

.copy {
  color: $brand-gray;
  // padding-right: 12%;
  font-size: $font-size-medium;
  line-height: 1.5;
}

.ralign {
  text-align: right;
}

.li-node-selected {
  background-color: $brand-primary;
}

.li-pname-selected {
  color: $brand-primary;
}