/*
 * Nav Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Bottom Navigation
//
//## Main navbar for navigating routes.
#bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 5% 10%;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline;
    margin-right: 42px;
  }
  a {
    font-size: $font-size-large;
    font-weight: $fw-medium;
    padding: 5px 8px;
    border: 3px solid transparent;
    // Animation
    transition: all 0.2s ease-in-out;
    background-color: transparent;
  }
  a:hover {
    background-color: white;
    border: 3px solid $brand-primary;
    //color: white;
    box-shadow: 3px 3px 10px rgba($brand-primary, 0.3);
  }
}

.selected {
  border: 3px solid $brand-primary !important;
}

.collapse-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#mobile-nav {
  visibility: hidden;
  position: fixed;
  top: 1px;
  //left: 65vw;
  //transform: translateX(-50vw);
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline;
    margin-right: 42px;
  }
  a {
    font-size: $font-size-medium;
    font-weight: $fw-medium;
    padding: 4px 6px;
    border: 3px solid transparent;
    // Animation
    transition: all 0.2s ease-in-out;
    background-color: transparent;
  }
  a:hover {
    background-color: white;
    border: 3px solid $brand-primary;
    //color: white;
    box-shadow: 3px 3px 10px rgba($brand-primary, 0.3);
  }
}

@media screen and (max-width: $screen-lg-max) {
  #bottom-nav {
    //margin: 0 0 3% 10%;
  }
}