/*
 * Nav Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Bottom Navigation
//
//## Main navbar for navigating routes.
#bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 5% 10%;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    display: inline;
    margin-right: 42px;
  }
  a {
    font-size: $font-size-large;
    font-weight: $fw-medium;
    padding: 4px 8px 4px;
    border: 4px solid transparent;
    // Animation
    // transition: all 0.075s ease-in-out;
    // background-color: rgba(255, 255, 255, 0.4);
  }
  a:hover {
    background-color: $brand-primary;
    border: 4px solid $brand-primary;
    color: white;
  }
}

.selected {
  border: 4px solid $brand-primary !important;
}

.collapse-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: $screen-lg-max) {
  #bottom-nav {
    margin: 0 0 3% 10%;
  }
}