/*
 * ProjectList Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Style
//
//## A group of styles

#projects {
  margin: 120px 0 0 0;

  h1 {
    font-size: $font-size-large;
    font-weight: $fw-black;
    display: inline-block;
    position: fixed;
    top: 15px;
  }
  h2 {
    color: $brand-gray-light;
    font-size: $font-size-large;
    font-weight: $fw-normal;
    display: inline-block;
  }

  #p-list {
    padding: 0;
  }

  #p-id {
    font-family: $font-inconsolata;
    padding: 10px 12px;
    background-color: $brand-primary;
    color: white;
    z-index: 1;
    position: absolute;
    margin: -6px -6px;
  }

  .p-item {
    display: inline-block;
    border: 1px solid $brand-primary;
    margin-right: 64px;
    position: relative;
    text-align: center;
  }

  .p-image {
    height: 550px;
    width: 650px;
  }

  .p-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      font-family: $font-inconsolata;
    }
  }

}

#scrollContainer > div {
  overflow: hidden;
}

#floating-list {
  position: fixed;
  left: 0;
  top: 40%;
  z-index: 10;
  background-color: transparent;
  font-size: $font-size-medium;
  ul {
    transition: all 0.2s ease-out;
    list-style: none;
    padding: 20px 24px ;
    margin: 0;
    li {
      margin-bottom: 10px;
    }
    .li-pname {
      transition: all 0.2s ease-out;
      display: inline-block;
      opacity: 0;
    }
    li:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: $fw-medium;
      color: $brand-gray-lighter;
      &:hover {
        color: $brand-primary;
        .li-node {
          background-color: $brand-primary;
        }
      }
    }
    &:hover {
      .li-pname {
        opacity: 1;
      }
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

#filter-button {
  position: fixed;
  top: 15px;
  right: 10%;
  margin-top: 22px;
  cursor: pointer;
}

.li-node {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 3px solid $brand-primary;
  border-radius: 12px;
  margin: 0 24px 0 0;
}