/*
 * ProjectDetail Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Style
//
//## A group of styles
#detail {
  overflow: auto;
}

#detail .p-title {
  font-weight: $fw-black;
  font-size: 64px;
  margin-top: 172px;
}

#detail .p-tags {
  font-family: $font-inconsolata;
  font-weight: $fw-inconsolata-bold;
  font-size: 20px;
  color: $brand-gray;
  text-transform: uppercase;
}

#detail .p-content {
  margin-top: 10px;
  font-size: 20px;
}

#p-id {
  font-family: $font-inconsolata;
  position: fixed;
  top: 15px;
  margin-top: 22px;
  padding: 10px 12px;
  background-color: $brand-primary;
  color: white;
  z-index: 10;
}

.detail-header {
  margin-left: 100px;
}

.main-image {
  margin-top: 120px;
  float: right;
  //width: 1000px;
  //height: 635px;
  border: 1px solid black;
  img {
    max-height: 635px;
  }
}

.content {
  //border: 1px solid black;
}

#p1-content {
  margin: 180px auto;
}

.spacer {
  width: 100%;
  margin-top: 8%;
}

.image {
  min-height: 300px;
  max-width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

.copy {
  padding-right: 12%;
  font-size: $font-size-medium;
  line-height: 1.5;
}