/*
 * Image Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Style
//
//## A group of styles

#video-container {
  cursor: pointer;
  position: relative;
  &.expanded {
   cursor: zoom-out;
    img:hover {
      transition: none;
      filter: none;
    }
  }
  img {
    transition: box-shadow 0.2s ease-in-out;
  }
  img:hover {
    box-shadow: 3px 3px 6px rgba($brand-primary, 0.2);
  }
  &:hover {
    .video-icon {
      background-color: rgba(#ad0505, 0.95);
    }
  }
}
.video-expanded {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0.92);
  z-index: 100;
  animation: loadExpandVideo 0.2s;
  #full-video {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    //max-width: 100% !important;
    max-height: 80%;
    width: 80%;
    border: none !important;
    box-shadow: 6px 6px 24px rgba(black, 0.5);
    height: 100%;
  }
  .close-expand-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2% 3%;
  }
  #close-expand {
    width: 20px;
    height: 20px;
    border: none !important;
    background-color: transparent !important;
    cursor: pointer;
    margin: 0 0 10px 0 !important;
  }
}

.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: red;
  padding: 12px 28px;
  background-color: rgba($brand-primary, 0.95);
  border: 1px solid rgba(white, 0.2);
  transition: all 0.2s ease-in-out;
  img#icon {
    margin: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
  }
}

@keyframes loadExpandVideo {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}
