/*
 * Index Stylesheet
 * --------------------------------------------------
 */
@import 'custom-variables';

//== General Styles
//
//## Element overrides and main shared styles

#root > div {
  margin: 0 0 0 10%;
}

.hidden {
  visibility: hidden;
}
.long-load {
  visibility: hidden;
  animation-delay: 10s;
  animation: loadAnimation 1s;
}

.load {
  visibility: hidden;
  animation-delay: 1s;
  animation: loadAnimation 1s;
}

.load-done {
  visibility: visible;
}

@keyframes loadAnimation {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

.tooltip {
  transition: visibility 0.2s ease-in-out, opacity 0.4s ease-in-out;
  background-color: $brand-primary;
  font-family: $font-family-monospace;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  &:focus {
    outline: none;
  }
}