/*
 * Index Stylesheet
 * --------------------------------------------------
 */
@import 'custom-variables';

//== General Styles
//
//## Element overrides and main shared styles

#root > div {
  margin: 0 0 0 10%;
}

.p-item {
  display: inline-block;
  height: 550px;
  width: 650px;
  border: 1px solid black;
  margin-right: 64px;
}

