/*
 * Miscellaneous Styles
 * --------------------------------------------------
 */
@import 'custom-variables';


//== Utility
//
//## Small utility classes to help here and there

//** Utility class just to display current screen size in top right.
#dimensions {
  position: fixed;
  top: 0;
  right:0;
  padding: 5px;
  font-size: 12px;
  color: $brand-gray-lighter;
}

.nopad {
  padding: 0;
}
.rmargin-20 {
  margin-right: 20px;
}

.lpad-20 {
  padding: 0 0 0 20px;
}
.rpad-20 {
  padding: 0 20px 0 0;
}

.rpad {
  padding: 0 40px 0 0;
}
.rpad-24pc {
  padding: 0 24% 0 0;
}

//== Media queries
//
//##

//** <= 1690px
@media screen and (max-width: $screen-xl) {
  #info p { max-width: 85%; }
  #detail {
    .description {
      // width: 40%;
    }
    .main-image {
      width: 50%;
    }
  }
}

//** <= 1480px
@media screen and (max-width: 1480px) {
  #detail .main-image {
    //width: 40%;
  }
}

//** <= 1406px
@media screen and (max-width: 1406px) {
  #detail .main-image {
    //width: 30%;
  }
}
//   TABLETS
//** <= 1280px
@media screen and (max-width: $screen-lg) {
  #detail {
    .description {
      display: block;
      width: 80%;
    }
    .main-image {
      width: auto;
      padding-right: 40px;
      img {
        width: 60%;
        float: right;
      }
      display: block;
      margin: 60px 0 0 0;
    }
  }
  #detail {
    .spacer {
      margin: 0;
    }
    img {
      margin-bottom: 5%;
    }
    .copy {
      margin-bottom: 12%;
    }
  }
}

//   SMARTPHONES
//** <= 980px
@media screen and (max-width: $screen-md) {
  #detail {
    .detail-header {
      margin-left: 60px;
    }
    .main-image {
      img {
        width: 100%;
      }
    }
  }
  #p1-content {
    margin-top: 5%;
  }
  #floating-list {
    visibility: hidden;
  }
  nav {
    visibility: hidden;
  }
  #info {
    margin: 8%;
    p { max-width: 100%; }
    h1 { font-size: 90px;}
    h2 {
      font-size: 36px;
      margin-top: 8px;
      margin-bottom: 45px;
    }
  }
}
//** <= 736px
@media screen and (max-width: $screen-sm) {
  #info {
    margin: 7%;
    h1 {
      font-size: 75px;
    }
    h2 {
      font-size: 32px;
      margin-top: 4px;
    }
  }
}
//** <= 480px
@media screen and (max-width: $screen-xs) {
  #info {
    margin: 6%;
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 28px;
      // margin-top: 4px;
    }
    p {
      // max-width: 100%;
      font-size: $font-size-medium;
    }
  }
}