/*
 * Miscellaneous Styles
 * --------------------------------------------------
 */
@import 'custom-variables';


//== Utility
//
//## Small utility classes to help here and there

//** Utility class just to display current screen size in top right.
#dimensions {
  position: fixed;
  top: 0;
  right:0;
  padding: 5px;
  font-size: 12px;
  color: $brand-gray-lighter;
}

.nopad {
  padding: 0;
}
.rmargin-20 {
  margin-right: 20px;
}

.lpad-20 {
  padding: 0 0 0 20px;
}
.rpad-20 {
  padding: 0 20px 0 0;
}

.rpad {
  padding: 0 40px 0 0;
}
.rpad-24pc {
  padding: 0 24% 0 0;
}