/*
 * Responsive Styles
 * --------------------------------------------------
 */
@import './custom-variables';

//== Media queries
//
//##

//   SMALLER DESKTOPS
//** <= 1690px
@media screen and (max-width: $screen-xl) {
  #info p { max-width: 85%; }
}

//   LAPTOPS
//** <= 1480px
@media screen and (max-width: 1480px) {
  #info {
    margin: 10vh 0 0;
  }
  #projects {
    #p-list {
      margin-top: 15vh;
    }
  }
  #bottom-nav {
    margin: 0 0 6vh 10%;
  }
}

//** <= 1406px
@media screen and (max-width: 1406px) {
  @media screen and (max-height: 732px) {
    #info {
      p {
        max-width: 100%;
        font-size: 18px;
      }
      h1 { font-size: 90px;}
      h2 {
        font-size: 36px;
        margin-top: 8px;
        margin-bottom: 45px;
      }
      ul#contact {
        li {
          margin-top: 20px;
        }
        li:last-of-type {
          margin-bottom: 20vh;
        }
        li#headshot {
          img {
            margin-top: -18px;
            width: 75px;
            height: 75px;
          }
        }
      }
    }
    #projects {
      .p-image {
        max-height: 450px;
        max-width: 550px;
      }
    }
    #detail {
      p {
        font-size: 14px;
      }
    }
  }
}

//   TABLETS
//** <= 1280px
// Shift everything to mobile (vertical scrolling) style
@media screen and (max-width: $screen-lg) {
  #projects {
    .p-image {
      max-height: 350px;
      max-width: 450px;
    }
  }

  #detail {
    #brief {
      margin-bottom: 64px;
      .p-tags {
        font-size: $font-size-base;
      }
      .p-desc {
        float: left;
        width: 80%;
        margin-bottom: 64px;
      }
      .image-container {
        display: block;
        float: left;
        width: 80%;
        .p-image {
          margin: 0 0 64px 0;
          max-width: 100%;
        }
      }
    }
    #gallery {
      width: auto;
      .col {
        display: block;
        width: 80%;
        margin-bottom: 64px;
        margin-right: 0;
        &:last-of-type {
          margin-bottom: 124px;
        }
      }
      img.sm, img.md, img.lg {
        max-width: 80%;
        max-height: none;
      }
      .gallery-marker {
        &:before {
          display: none;
          content: none;
        }
      }
    }

    #gallery-nav {
      display: none;
    }
    button#scroll-arrow {
      display: none;
    }
    #p-id {
      display: none;
    }
  }


  #bottom-nav {
    visibility: hidden;
    display: none;
  }
  #mobile-nav {
    visibility: visible;
    a:hover {
      background-color: transparent;
      border: 3px solid $brand-primary;
      //color: white;
      box-shadow: none;
    }
  }
  #floating-list {
    display: none;
  }
}

//   SMARTPHONES
//** <= 980px
@media screen and (max-width: $screen-md) {
  #root > div {
    width: 80%;
    margin: 0 auto;
  }
  #info {
    p { max-width: 100%; }
    h1 { font-size: 90px;}
    h2 {
      font-size: 36px;
      margin-top: 8px;
      margin-bottom: 45px;
    }
  }
  #info {
    ul#contact {
      li {
        margin-top: 20px;
        display: block;
      }
      li:last-of-type {
        margin-bottom: 20vh;
      }
    }
    li#headshot {
      img {
        margin-top: -18px;
        width: 60px;
        height: 60px;
      }
    }
  }
  #detail {
    #brief {
      //margin-bottom: 64px;
      .p-desc {
        width: 100%;
      }
      .image-container {
        width: 100%;
        .p-image {
          //max-width: 100%;
        }
      }
    }
    #gallery {
      padding-top: 0;
      .col {
        width: auto;
      }
      img.sm, img.md, img.lg {
        max-width: 100%;
      }
    }
  }
}
//** <= 736px
@media screen and (max-width: $screen-sm) {

  #info {
    margin-top: 8vh;
    h1 {
      font-size: 75px;
    }
    h2 {
      font-size: 32px;
      margin-top: 4px;
    }
  }
  #projects {
    margin: 0 auto;
    #p-list {
      display: inline-block;
      margin: 0 auto;
    }
    h1 {
      margin: 3vh 0 5vh;
      position: static;
    }
    .p-item {
      display: inline-block;
      //float: left;
      //width: 80%;
      margin: 0 auto 64px auto;
      &:last-of-type {
        margin-bottom: 120px;
      }
      .p-id {
        position: absolute;
        margin: 0;
      }
    }
    .p-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
//** <= 480px
@media screen and (max-width: $screen-xs) {
  #info {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 28px;
      // margin-top: 4px;
    }
    p {
      // max-width: 100%;
      font-size: $font-size-medium;
    }
  }
  #projects {
    .p-image {
    }
  }
}